* {
    margin: 0;
    padding: 0;
}

section {
    height: 30vw;
    background-color: rgb(220, 220, 220);
}

nav {
    background-color: #666;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
}

ul {
    padding: 30px 0;
    max-width: 1024px;
    margin: 0 auto;
    list-style: none;
}

li {
    display: inline-block;
    font-size: 0;
}

a {
    display: block;
    width: 180px;
    margin-right: 30px;
    padding: 10px;
    font-family: arial, sans-serif;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    border: 1px solid white;
}

a:hover {
    color: chartreuse;
    border: 1px solid chartreuse;
}
