* {
    margin: 0;
    padding: 0;


}

body {
    font-family: 'Roboto', sans-serif;
}

nav {
    margin: 0 auto;
    font-size: 0px;
    background-color: #343A40;
    padding-left: 5%;
    margin-bottom: 40px;
}

nav ul {
    max-width: 1280px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    padding: 0 40px;
    line-height: 70px;
    font-size: 18px;
    float: left;
    color: #bbb;
    text-decoration: none;
    letter-spacing: 1px;
    border-right: 2px solid #666;


}

nav ul li a i {

    padding: 20px;
    font-size: 24px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

nav ul li a:hover {
    color: white;
}

nav ul li:nth-child(5) a {

    border-style: none;
}
