* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 300px;
}

header {
    position: relative;
    height: 80vh;
    background-image: url(city.jpg);
    background-position: center bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

header h1 {
    position: absolute;
    width: 100vw;
    font-size: 80px;
    font-family: arial, sans-serif;
    color: white;
    bottom: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 0;
}

section {
    width: 80vw;
    margin: 100px auto;
    line-height: 190%;
    font-family: verdana;
}
