* {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

/*Nawigacja*/
nav {
    background-color: #ddd;

    text-align: right;
    /*    padding-right: 20px;*/

}

nav a {
    /*        box-sizing: border-box;*/
    display: inline-block;
    font-size: 20px;
    font-family: arial, sans-serif;
    color: brown;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    /*    border: 2px solid brown;*/
    margin: 20px 20px;
    padding: 10px 25px;

}

a:hover {

    border-bottom: 2px solid brown;
}

a.btn4 {
    letter-spacing: 2px;
    border: 2px solid brown;
    margin-left: 100px;
    margin-right: 70px;
    transition: 0.5s;
}

a.btn4:hover {
    color: white;
    background-color: brown;
}


/*Header*/
header {
    height: 300px;
    background-color: cadetblue;
}

main {
    min-height: 50vh;
    background-color: burlywood;
}

footer {
    min-height: 100px;
    background-color: black;
}
