/*font-family: 'Roboto', sans-serif;*/
* {
    margin: 0;
    padding: 0;
}

header {
    height: 40vh;
    background-image: url(img/pier-1467984_1280.jpg);
    background-size: cover;
    background-position: center;
}

nav {
    display: block;
    background-color: #333;
    padding: 20px;
    border-bottom: 4px solid royalblue;
    font-size: 0px;
}

a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    padding: 20px 30px;
}

a:hover {
    color: orange;
}
