* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
}

header {
    position: relative;
    height: 100vh;
    max-width: 1920px;
    margin: 0 auto;
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

header > * {
    position: absolute;
}

header img.logo {
    top: 30px;
    left: 60px;

}

header h1 {
    width: 100%;
    text-align: center;
    top: 35%;
    color: white;
    font-size: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

header button {
    bottom: 80px;
    right: 80px;
    font-size: 30px;
    padding: 10px 30px;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    border: 4px solid white;
    transition: .3s;

}

header button:hover {
    background-color: rgba(0, 0, 0, .5);

}

@media (max-width: 1024px) {
    header {
        background-size: cover;
    }
}

@media (max-width: 812px) and (orientation: landscape) {
    header img {
        width: 25%;
    }

    header h1 {
        font-size: 26px;
    }

    header button {
        font-size: 20px;
        bottom: 30px;
    }
}

@media (max-width: 533px) and (orientation: landscape) {


    header h1 {
        top: 40%;
        font-size: 20px;
    }

    header button {
        font-size: 18px;
        bottom: 30px;
    }
}

@media (max-width: 414px) and (orientation: portrait) {
    header img.logo {
        width: 80%;
        left: 10%;
        top: 35px;
    }

    header h1 {
        font-size: 30px;
        line-height: 180%;
    }

    header button {
        width: 80%;
        left: 10%;
        font-size: 32px;
        bottom: 30px;
    }
}

@media (max-width: 360px) and (orientation: portrait) {

    header h1 {
        font-size: 24px;
    }
}

@media (max-width: 320px) and (orientation: portrait) {

    header button {

        font-size: 26px;
        bottom: 20px;
    }
}


section {
    width: 80%;
    margin: 80px auto;
}

section p {
    line-height: 170%;
    font-size: 14px;
}
