/*
font-family: 'Oswald',
sans-serif;
font-family: 'Roboto Condensed',
sans-serif;
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Oswald',
        sans-serif;
}

/*Nawigacja*/
nav {
    max-width: 1440px;
    font-size: 0;
    margin: 20px 0;
    text-align: right;
}

nav a {
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.8rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #555;
    padding: 10px;
    margin: 0 20px;

}

nav a:hover {
    border-bottom: 2px solid #555;
    color: #222;
}

nav a.rezerwacja {
    border: 2px solid black;
    color: #222;
    font-size: 2.2rem;
    padding: 10px 30px;
    margin-right: 50px;
    margin-left: 70px;
    transition: 0.3s;
}

nav a.rezerwacja:hover {
    border: 2px solid royalblue;
    background-color: royalblue;
    color: #ddd;
    font-size: 2.2rem;

}

/*Header*/
header {
    height: 40vw;
    background-image: url(img/auto2.jpg);
    background-size: cover;
}

header h1 {
    color: white;
    text-align: center;
    font-size: 6rem;
    line-height: 40vw;
    background-color: rgba(0, 0, 0, 0.4);
}

/*main*/
main {
    max-width: 1440px;

    /*    text-align: center;*/
    margin: 5vh auto;
}

main p.opis {
    font-size: 2.2rem;
    text-align: center;
    margin: 0 30px 50px 30px;
    line-height: 180%;
}

main div.cecha {
    display: inline-block;
    width: 33%;
    /*    box-sizing: border-box*/
}

main div.img {
    height: 200px;
    /*    width: 300px;*/
    background-color: royalblue;
}

main h2 {
    font-size: 2rem;
    text-align: center;
    color: #222;
}

/*stopka*/
footer {
    background: #000;

}

footer p {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}
