* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: verdana;

}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header {
    /*    font-size: 0;*/
}

header div {
    width: 20%;
    height: 200px;
    margin: 2.5%;
    background-color: royalblue;
    float: left;
}

header div:nth-child(1) {
    background-color: firebrick;
}

header div:nth-child(2) {
    background-color: greenyellow;
}

header div:nth-child(3) {
    background-color: deepskyblue;
}

header div:nth-child(4) {
    background-color: orangered;
}

header div:nth-child(1):hover {
    background-color: greenyellow;
}

header div:nth-child(2):hover {
    background-color: dimgray;
}

header div:nth-child(3):hover {
    background-color: yellow;
}

header div:nth-child(4):hover {
    background-color: olivedrab;
}

nav {
    /*    height: 50px;*/
    background-color: black;
    padding: 10px 0 10px 0;

}

nav ul {
    max-width: 1280px;
    margin: 0 auto;
    list-style: none;
}

nav ul li {
    float: left;
    width: 20%;
    text-align: center;
    font-size: 0px;
}

nav ul li a {
    display: block;
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid white;
    margin: 5px;
}

nav ul li a:hover {
    background-color: grey;
    border-color: yellow;
    color: yellow;
}

div.blog {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 40px;
}

main {
    /*    height: 300px;*/
    /*    background-color: brown;*/
    float: left;
    width: 65%;
    padding: 20px 20px 20px 0;
}

article img {
    width: 200px;
    float: left;
    margin: 20px;
}

aside {

    float: left;
    width: 30%;
}

section.contact {
    background-color: #ddd;
    padding: 15px;

}

section.contact p {
    margin-bottom: 24px;
    font-weight: bold;
}

section.contact li {
    list-style: none;
    margin: 10px 0;
}

section.contact li i {
    margin-right: 20px;
    color: #333;
}

footer {
    background-color: #444;
    text-align: center;
    color: white;
    padding: 20px 0;
    margin-top: 40px;
}
