* {
    margin: 0;
    padding: 0;
}

nav {}

nav div.logo {
    height: 40px;
    width: 20%;
    margin-right: 10%;
    background-color: brown;
    float: left;
}

nav ul {
    height: 40px;
    width: 70%;
    background-color: darkcyan;
    float: left;
    list-style: none;
}

nav li {
    float: left;
    width: 25%;
}

nav a {
    display: block;
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-family: arial;
    text-align: center;
    line-height: 40px;
}

nav a:hover {
    font-size: 26px;
    transition: 0.3s;
}
