* {
    margin: 0;
    padding: 0;
}

/*ekran do 359px*/
body {
    background-color: red;
    font-size: 40px;
}

div.item1 {
    display: block;
}

div.item2 {
    display: none;
}

div.item3 {
    display: none;
}

div.item4 {
    display: none;
}

div.item5 {
    display: none;
}

/*ekran powyżej 360pxdo 639px*/

@media (min-width: 360px) {
    body {
        background-color: green;
    }

    div.item1 {
        display: none;
    }

    div.item2 {
        display: block;

    }

}

/*ekran powyżej 640pxdo 1023px*/

@media (min-width: 640px) {
    body {
        background-color: blue;
    }

    div.item2 {
        display: none;
    }

    div.item3 {
        display: block;

    }

}

/*ekran powyżej 1024pxdo 1400px*/

@media (min-width: 1024px) {
    body {
        background-color: grey;
    }

    div.item3 {
        display: none;
    }

    div.item4 {
        display: block;

    }

}

/*ekran powyżej 1440px*/

@media (min-width: 1440px) {
    body {
        background-color: gray;
        border: 10px solid blue;
    }

    div.item4 {
        display: none;
    }

    div.item5 {
        display: block;

    }

}

@media (orientation: landscape) and (max-height: 400px) {
    div {
        text-decoration: underline;
    }
}
