* {
    margin: 0;
    padding: 0;
}

nav {
    width: 90%;
    max-width: 1440px;
    margin: 30px auto;
    background-color: black;
    padding: 0 20px;
    border-radius: 20px;
}

nav ul {
    list-style: none;
    font-size: 0;
}

nav ul li {
    display: inline-block;
    width: 25%;
}

nav ul li a {
    display: block;
    font-size: 20px;
    color: white;
    font-family: arial;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 20px;
    text-align: center;
}

a:hover {
    background-color: #333;
}

section {
    height: 300px;
    background-color: #ddd;
}
