/*font-family: 'Saira Condensed', sans-serif;
font-family: 'Saira', sans-serif;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fix::after {
    content: "";
    clear: both;
    display: block;
}

header {
    position: relative;
    height: 90vh;
    background-color: #29a6dc;
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
}

header > * {

    position: absolute;
}

header img {
    position: absolute;
    height: 50%;
    bottom: 0;
    right: 0;
}

header div.welcome {
    z-index: 1;
    top: 5%;
    left: 5%;
    right: 5%;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

header h1 {
    margin-top: 15px;
    font-size: 20px;
}

header h2 {
    font-weight: normal;
    font-size: 20px;
}

header button {
    line-height: 32px;
    padding: 0 20px;
    text-transform: uppercase;
    font-family: Saira, sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: white;
    border: 2px solid white;
    background-color: transparent;
}

@media (orientation: portrait) and (min-width: 360px) {
    header h1 {
        font-size: 24px;
    }

    header h2 {
        font-size: 24px;
    }

    header button {
        margin-top: 30px;
        line-height: 40px;
        font-size: 16px;
    }

    header img {
        right: -10%;
        ;
    }
}

@media (orientation: portrait) and (min-width: 410px) {
    header h1 {
        font-size: 26px;
    }

    header h2 {
        font-size: 26px;
    }

    header button {
        margin-top: 30px;
        line-height: 40px;
        font-size: 18px;
    }

    header img {
        right: -5%;
    }
}

@media (orientation: portrait) and (min-width: 768px) {

    p {
        font-size: 60px;
    }

    header h1 {
        font-size: 60px;
    }

    header h2 {
        font-size: 32px;
    }

    header button {
        margin-top: 70px;
        line-height: 60px;
        font-size: 24px;
    }

    header img {
        right: 0%;
        bottom: -20px;
    }
}

@media(orientation: landscape) {
    header img {
        position: absolute;
        height: 80%;
        bottom: 0;
        right: -5%;
    }

    header div.welcome {
        top: 12%;
        left: 10%;
        right: 45%;
    }

    header button {
        margin-top: 40px;
    }
}

@media(orientation: landscape) and (min-width: 640px) {
    header h1 {

        font-size: 24px;
    }

    header h2 {

        font-size: 24px;
    }

    button {
        font-size: 16px;
        line-height: 40px;
    }
}

@media(orientation: landscape) and (min-width: 920px) {

    header div.welcome {

        right: 40%;
        top: 10%;
    }

    header p {
        font-size: 70px;
    }

    header h1 {

        font-size: 40px;
    }

    header h2 {

        font-size: 40px;
    }

    header button {
        margin-top: 60px;
        font-size: 25px;
        line-height: 60px;
    }

    header img {
        height: 70%;
        right: -190px;
    }
}

@media(orientation: landscape) and (min-width: 1024px) {

    header div.welcome {
        text-align: left;
        left: 3%;
        top: 20%;
    }

    header p {
        font-size: 70px;
    }

    header h1 {
        margin-top: 40px;
        font-size: 40px;
    }

    header h2 {

        font-size: 40px;
    }

    header button {
        margin-top: 70px;
        font-size: 24px;
        line-height: 60px;
    }

    header img {
        right: -220px;
        height: 90%;
    }
}

@media(orientation: landscape) and (min-width: 1280px) {

    header div.welcome {

        left: 5%;

    }


    header img {
        right: -120px;
        height: 100%;
    }
}

@media(orientation: landscape) and (min-width: 1440px) {

    header div.welcome {
        left: 8%;
        top: 20%;
    }

    header p {
        font-size: 120px;
    }

    header h1 {
        margin-top: 40px;
        font-size: 60px;
    }

    header h2 {

        font-size: 60px;
    }

    header button {
        margin-top: 70px;
        font-size: 36px;
        line-height: 90px;
        padding: 0 40px;
    }

    header img {
        right: -220px;
        height: 100%;
    }
}

@media(orientation: landscape) and (min-width: 1600px) {

    header div.welcome {
        left: 11%;

    }

    header img {
        right: -180px;
        height: 100%;
    }
}

@media(orientation: landscape) and (min-width: 1800px) {

    header div.welcome {
        left: 12%;

    }

    header img {
        right: 0px;
        height: 100%;
    }
}

@media (min-width: 1024px) {
    header button {
        transition: .3s;
    }

    header button:hover {
        color: #111;
        cursor: pointer;
        background-color: white;
    }
}

/*sekcja 1 nasze cechy*/


.cechy {
    max-width: 1600px;
    margin: 50px auto 0;
    padding: 3%;
    text-align: center;
}

.cechy h1 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
}

.cechy h2 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

.cechy p {
    font-family: 'Saira', sans-serif;
    font-weight: 300;
    font-size: 12px;

}

.cechy img {
    max-width: 375px;
    width: 100%;
    margin: 5px 0;
}

@media(min-width: 360px) {
    .cechy h1 {
        font-size: 28px;

    }

    .cechy h2 {
        font-size: 24px;
    }

    .cechy p {
        font-size: 16px;
    }
}

@media(min-width: 768px) {
    .cechy h1 {
        font-size: 34px;

    }

    .cechy h2 {
        font-size: 28px;
    }

    .cechy p {
        font-size: 24px;
    }
}



@media(min-width: 1024px) {

    .cechy {
        margin-top: 10px;
        padding: 5% 2%;
        text-align: center;
    }

    .cecha {
        float: left;
        width: 33%;
        padding: 10px;
    }

    .cechy h1 {
        font-size: 32px;

    }

    .cechy h2 {
        font-size: 22px;
    }

    .cechy p {
        font-size: 16px;
    }


}

@media(min-width: 1600px) {


    .cecha {
        padding: 20px 30px;
    }

    .cechy h1 {
        font-size: 60px;

    }

    .cechy h2 {
        font-size: 36px;
    }

    .cechy p {
        font-size: 21px;
    }


}

/*sekcja portfolio*/

.portfolio {
    background-color: black;
    padding: 10px 0 30px;
}

.portfolio h1 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    padding: 10px 20px;
    margin-bottom: 15px;
}

.portfolio .web img {
    width: 100%;
}

.portfolio .about {
    color: white;
    font-family: 'Saira', sans-serif;
    font-weight: normal;
    padding: 10px 20px 20px 0px;
    text-align: left;
}

.portfolio .about h2 {
    font-size: 18px;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    padding-bottom: 0px;
    padding-top: 10px;
    text-indent: 20px;
}

.portfolio .about p {
    font-size: 12px;
    padding-left: 20px;
}

.portfolio .project {

    max-width: 1440px;
    margin: 0 auto 20px;
}

.portfolio .project:nth-of-type(odd) {
    background-color: #ff4f2c;
}

.portfolio .project:nth-of-type(even) {
    background-color: #29a6dc;
}

@media(min-width:768px) {
    .portfolio h1 {
        font-size: 40px;
    }

    .portfolio .about h2 {
        font-size: 28px;
        text-indent: 40px;
    }

    .portfolio .about p {
        font-size: 18px;
        padding-left: 40px;
    }

    .portfolio .project {
        margin-bottom: 40px;
    }

}

@media(orientation: landscape) {

    .web,
    .about {
        width: 50%;
        float: left;
    }

    .web img {
        display: block;
    }

    .portfolio .project:nth-of-type(even) .web {
        float: right;
    }

    .portfolio .project:nth-of-type(even) .about {
        padding-right: 0;
    }

    .portfolio .project:nth-of-type(even) .about p {
        padding-right: 20px;
    }

    .portfolio .project:nth-of-type(even) .about h2 {
        text-indent: 0;
        margin-left: 40px;
    }
}



@media (orientation: landscape) and (min-width:1400px) {
    .portfolio h1 {
        font-size: 60px;
        padding: 30px 0;
    }

    .portfolio .about h2 {
        padding-top: 50px;
        margin-bottom: 30px;
        font-size: 28px;
        text-indent: 40px;
    }

    .portfolio .about p {
        font-size: 18px;
        padding-left: 40px;
        line-height: 180%;
    }

    .portfolio .project {
        margin-bottom: 40px;
    }
}

/*sekcja motto*/

.motto {
    text-align: center;
    background-image: url(../images/motto.jpg);
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    color: white;
}

.motto h1 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.motto p {
    font-family: 'Saira', sans-serif;
    font-size: 18px;
}

.motto p.autor {
    margin-top: 20px;
    font-size: 12px;
}

.motto .bg {
    background-color: rgba(0, 63, 114, 0.5);
    padding: 30px 10px;
}

@media (orientation: landscape) {
    .motto p {
        width: 70%;
        margin-right: auto;
        margin-left: auto;
    }
}

@media(min-width: 768px) {
    .motto h1 {
        font-size: 38px;
        margin-bottom: 35px;
    }

    .motto p {
        font-size: 26px;
        width: 60%;
        margin: 0 auto;
    }

    .motto p.autor {
        margin-top: 40px;
        font-size: 18px;
    }

}

@media(min-width: 1024px) {

    .motto .bg {
        padding: 80px 10px;
    }

    .motto h1 {
        font-size: 60px;
        margin-bottom: 55px;
    }

    .motto p {
        font-size: 40px;
        width: 70%;

    }

    .motto p.autor {
        margin-top: 40px;
        font-size: 26px;
    }

}

/*sekcja hobby*/
.hobby {
    max-width: 1920px;
    margin: 0 auto;
}

.hobby .item {

    height: 20vh;
    background-position: center;
    background-repeat: no-repeat;

}

.hobby .item:nth-of-type(1) {
    background-image: url(../images/hobby1.jpg);
}

.hobby .item:nth-of-type(2) {
    background-image: url(../images/hobby2.jpg);
}

.hobby .item:nth-of-type(3) {
    background-image: url(../images/hobby3.jpg);
}

.hobby .item:nth-of-type(4) {
    background-image: url(../images/hobby4.jpg);
}

.hobby .item p {
    font-family: 'saira', sans-serif;
    color: white;
    text-align: center;
    /*    line-height: 25vh;*/
    text-shadow: 0 0 4px black;
    background-color: rgba(0, 0, 0, .5);
    font-size: 20px;
    padding: 5px 0;
}


.hobby h1 {
    font-family: 'saira condensed', sans-serif;
    text-align: center;
    font-size: 36px;
    padding: 20px;
    text-transform: uppercase;
}

@media (min-width: 533px) {
    .hobby .item {
        float: left;
        width: 50%;
        height: 40vh
    }

}

@media (min-width: 768px) {
    .hobby h1 {
        font-size: 48px;
        margin-top: 40px;
        margin-bottom: 35px;
    }

    .hobby .item p {
        font-size: 30px;
        padding: 15px 0;
    }

}

@media (min-width:1024px) {
    .hobby .item p {
        line-height: 40vh;
        padding: 0;
        opacity: 0;
        transition: 0.6s;
        cursor: default;
    }

    .hobby .item:hover p {
        opacity: 1;
    }

    .hobby .item {
        background-size: 100%;
        transition: .6s;
    }

    .hobby .item:hover {
        background-size: 130%;
    }
}

@media(min-width: 1600px) {
    .hobby h1 {
        font-size: 60px;
        margin-top: 50px;
        margin-bottom: 45px;
    }

    .hobby .item p {
        font-size: 40px;
    }
}

/*sekcja kontakt*/

.kontakt {
    background-color: black;
    padding: 30px 20px;

}

.kontakt h1 {
    color: white;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}

.kontakt .wrap {
    padding-top: 20px;
    max-width: 1024px;
    margin: 0 auto;
}

.kontakt input,
.kontakt button,
.kontakt textarea {
    width: 100%;
    margin-bottom: 25px;
    font-family: 'saira', sans-serif;
    font-size: 12px;
    padding: 5px;
}

.kontakt input {

    height: 36px;
}

.kontakt button {
    font-size: 14px;
    line-height: 40px;
    background-color: black;
    color: white;
    border: 2px solid white;
}

.kontakt .socials {
    padding-top: 30px;
    font-size: 0;

}


.kontakt .social {
    padding-top: 10px;
    color: white;
    font-family: 'saira condensed', sans-serif;

}


.kontakt .social img {
    float: left;
}

.kontakt .social span {
    line-height: 72px;
    padding-left: 20px;
    float: left;
    font-size: 20px;
}

@media(min-width: 533px) {
    .kontakt .social {
        display: inline-block;
        width: 50%;
    }
}

@media(min-width:1024px) {

    .kontakt h1 {
        font-size: 60px;
        padding: 30px 0;
    }

    .kontakt form,
    .kontakt .socials {
        float: left;
        width: 50%;
        padding: 0 20px;
    }

    .kontakt .social {
        display: block;
        width: 50%;
        margin: 0 auto;
    }

    .kontakt input,
    .kontakt button,
    .kontakt textarea {

        font-size: 18px;
    }

    .kontakt button {
        font-size: 24px;
        transition: .6s;
        cursor: pointer;
    }

    .kontakt button:hover {
        color: black;
        background-color: white;
        font-size: 24px;
    }

}

/*footer*/

footer {
    background-color: #29a6dc;
    color: white;
    font-family: 'saira', sans-serif;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}
