* {
    margin: 0;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    margin-top: 50vh;
    /*    line-height: 100vh;*/
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 5vh;
}
