* {
    margin: 0;
    padding: 0;
}

/* do 359px */
p {
    line-height: 100vh;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-family: arial;
    padding: 0 5%;
}

/*od 360px*/
@media(min-width: 360px) {
    p {

        font-size: 24px;
        color: red;
    }
}

/*od 400*/
@media(min-width: 400px) {
    p {

        font-size: 26px;
        color: blue;
    }
}

@media(min-width: 1024px) {
    p {

        font-size: 50px;
        color: yellow;
    }
}

@media(min-width: 1440px) {
    p {

        font-size: 80px;
        color: green;
    }
}

@media(orientation: portrait) {
    body {
        background-color: aqua;
    }
}

@media(orientation: landscape) {
    body {
        background-color: coral;
    }
}

@media(orientation: landscape) and (min-width: 640px) {
    body {
        background-color: darkblue;
    }
}
