.board {
    position: relative;
    height: 400px;
    width: 400px;
    margin: 50px auto;
    border: 4px solid black;
}

span {
    position: absolute;
    background-color: red;
    height: 50%;
    width: 50%;

}

div span:nth-child(2) {
    top: 50%;
    left: 50%;

}
