/*powyżej 1600px*/

body {
    background-color: rgb(255, 0, 0);
}

div {
    color: white;
    font-size: 60px;
}

div.s1 {
    display: block;
}

div.s2 {
    display: none;
}

div.s3 {
    display: none;
}

@media (max-width: 1600px) {
    body {
        background-color: rgb(255, 255, 0);
    }

    div.s1 {
        display: none;
    }

    div.s2 {
        display: block;
    }
}

@media(max-width: 1024px) {
    body {
        background-color: rgb(0, 0, 255);
    }
}

@media(max-width: 768px) {
    body {
        background-color: rgb(0, 250, 0);
    }

    div.s2 {
        display: none;
    }

    div.s3 {
        display: block;
    }
}

@media(max-width: 320px) {
    body {
        background-color: rgb(255, 0, 255);
    }
}
