div.profile {
    position: relative;
    width: 800px;
    margin: 0 auto;
    background-color: #999;
}

img.avatar {
    border-radius: 50%;
    padding: 20px;
}

div.answer {
    position: absolute;
    top: 20px;
    left: 220px;
}

div p {
    padding: 10px 30px 10px 0;
}
